@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --color-primary: #F8F4E6;
  --color-text-main: #2D1E10;
  --color-accent: #D4813A;
  --color-shopee: #EE4D2D;
  --color-tokopedia: #00AA5B;
  --color-whatsapp: #25D366;
  --color-primary-dark: #eee8d5;

  --animate-gradient-xy: gradient-xy 15s ease infinite;
  
  @keyframes gradient-xy {
    0%, 100% {
      background-size: 400% 400%;
      background-position: left center;
    }
    50% {
      background-size: 400% 400%;
      background-position: right center;
    }
  }
}

html, body {
  background-color: var(--color-primary);
  color: var(--color-text-main);
  scroll-behavior: smooth;
}
